<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You violated our terms of service (or just pissed off an admin) <%= @user.full_name %>. 
        Thus, we decided to end your account. </h1>
  </body>
</html>