.navbar {
  .container-fluid {
    background-color: #F5EE9E;
  }
  .navbar-text {
    font-family: Garamond;
    color: #AB3428;
  }
  .navbar-link {
    color: #2D728F;
  }
}

.login {
  h1 {
    color: #F49E4C;
    font-family: Garamond;
  }
  .btn {
    color: #3B8EA5;
  }
}

body {
  padding-bottom: 20px;
}