$mango-color: #F49E4C;
$light-mango: #F5EE9E;
$lighter-blue: #3B8EA5;
$darker-blue: #2D728F;
$mango-red: #AB3428;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
  .wrapper {
    padding: 5px 15px 0;
  }
}

.navbar {
  border: 0;
  .footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;

    .container-fluid {
      background-color: $light-mango;
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-text {
      font-family: Garamond;
      color: $mango-red;
    }
    .navbar-link {
      color: $darker-blue;
    }
  }
  .header {
    .container-fluid {
      background-color: white;
    }
    img {
      height: 60px;
    }
    h3 {
      color: $mango-color;
      font-family: Garamond;
    }
  }
}

.login {
  h1 {
    color: $mango-color;
  }
  .btn {
    margin-top: 10px;
    color: $mango-red;
    font-size: 14px;
  }
  .input-group {
    margin-left: auto;
    margin-right: auto;
  }
  margin-top: 30px;
  text-align: center;
  font-family: Garamond;
}

.sign-up {
  h1 {
    color: $mango-color;
  }
  .btn {
    margin-top: 10px;
    color: $mango-red;
    font-size: 14px;
  }
  h4 {
    color: $lighter-blue;
  }
  .input-group {
    margin-left: auto;
    margin-right: auto;
  }
  margin-top: 30px;
  text-align: center;
  font-family: Garamond;
}

h2.movie-form {
  text-align: center;
  color: $mango-color;
}

.movie-form {
  .movie-file-form {
    margin-right: auto;
    margin-left: auto;
  }
  input {
    width: 320px;
  }
  textarea {
    width: 320px;
    height: 150px;
  }
  .btn {
    margin-top: 10px;
    color: $mango-red;
    font-size: 14px;
  }
  .movie-file-form.btn-default {
    cursor: inherit;
    background-color: $mango-red;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 17px;
    margin-top: -10px;
  }
  .btn-default input[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    display: block;
    min-width: 25%;
    height: 20px;
    top: 0;
    right: 0;
  }
  .wrapper {
    text-align: center;
  }
  label {
    color: $mango-color;
  }
  input[name='commit'] {
    width: 64px;
  }
  font-family: Garamond;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.movie-container {
  position: relative;
  .movie-image {
    float: left;
    width: 300px;
    img {
      display: block;
      margin: 0 auto;
      margin-top: 30px
    }
  }
  .movie-details {
    float: left;
    width: 300px;
  }
  .splitter {
    clear: both;
  }
}

.movie-index{
  .spacer {
    height: 10px;
  }
  .new-movie-btn {
    color: $mango-red;
    font-size: 14px;
    margin-left: 5px;
  }
  .search-form {
    label {
      color: $lighter-blue;
    }
    h4 {
      color: $mango-color;
    }
    .btn {
      color: $mango-red;
      font-size: 14px;
    }
    margin-left: 5px;
  }
}

.movie-review {
  h2 {
    color: $mango-color;
  }
  label {
    color: $lighter-blue;
  }
  .btn {
    margin-top: 10px;
    color: $mango-red;
    font-size: 14px;
  }
  #review_rating_out_of_ten {
    width: 15%
  }
}

.movie-manage {
  margin-left: 300px;
  color: $lighter-blue;
}

.review-container {
  margin-left: 5px;
  h3 {
    color: $mango-color;
  }
}

.admin-container {
  h1 {
    color: $mango-color;
  }
  td {
    width: 7%;
    padding: 5px 0px 5px 0px;
  }
  .btn {
    color: $mango-red;
    font-size: 14px;
  }
  a {
    color: $lighter-blue;
  }
}

.flash {
  font-family: Garamond;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 0px;
  color: $lighter-blue;
  position: absolute;
}

body {
  padding-bottom: 20px;
}