<h1>List of users</h1>

<table>
  <tr>
    <td>Username</td>
    <td>Email</td>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.full_name %></td>
    <td><%= user.email %>f</td>
  </tr>
<% end %>
</table>

<hr/>

<%= paginate @users %>
<%= page_entries_info @users %>