<header class="navbar navbar-default">
  <div class="header">
    <div class="container-fluid header">
      <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li>
                <%= link_to image_tag("mango.jpg"), movies_path, class: 'navbar-logo' %>
            </li>
            <li>
              <a href="/movies">
                <h3 class="navbar-text">Rotten Mangoes</h3>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</header>